/* font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif; */

.lnBlog {
  padding-top: 120px;
  .lnHead {
    display: flex;
    justify-content: flex-start;
    width: 86%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;

    .title {
      font-family: 'Quicksand', sans-serif;
      flex: 2;
      margin: 0 0 0.4em;
      font-size: 3.125rem;
      line-height: 1.1;
      font-weight: 500;
      letter-spacing: -0.02em;
      line-height: 120%;
    }
    .lncatAndDate {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 25px;
      justify-content: flex-start;
      .lndate {
        line-height: 150%;
        font-family: monospace;
        font-weight: 400;
        font-size: 2.125rem;
        color: #777777;
        margin: 0;
      }
      .lncat {
        color: #000000;
        font-size: 1.5rem;
        font-family: 'Nunito', sans-serif;
      }
    }
  }
  .lnImgDiv {
    width: 90%;
    margin: 3vh auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .lndescAndShare {
    max-width: 1280px;
    margin: 100px auto;
    display: flex;
    justify-content: flex-start;
    .lndesc {
      flex: 2;
      p {
        font-family: 'Nunito', sans-serif;
        color: #333;
        font-size: 18px;
        line-height: 1.75;
        letter-spacing: 0.1px;
      }
    }
    .lnShare {
      flex: 1;
      padding-left: 60px;
      .lnShareDiv {
        position: sticky;
        top: 200px;
        z-index: 1;
        width: 100%;
        left: 15px;
      }
      .lnshareText {
        line-height: 1.7;
        font-family: 'Nunito', sans-serif;
        margin-top: 0.1em;
        margin-bottom: 0.3em;
        font-size: 25.2px;
        line-height: 1.2;
        font-weight: 500;
      }
      .lnShareIcons {
        margin-top: 0px;
        display: flex;
        p {
          font-size: 30px;
          margin-right: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .lnBlog {
    .lndescAndShare {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .lnBlog {
    padding-top: 50px;
    .lnHead {
      justify-content: flex-start;
      width: 100%;
      padding: 10px;
      flex-direction: column;
      .title {
        flex: 1;
        font-size: 35px;
      }
      .lncatAndDate {
        flex: 1;
        padding: 0;
        .lndate {
          font-size: 25px;
        }
        .lncat {
          font-size: 20px;
        }
      }
    }
    .lnImgDiv {
      width: 95%;
      margin: 1vh auto;
    }
    .lndescAndShare {
      flex-direction: column;
      .lndesc {
        flex: 1;
      }
      .lnShare {
        margin-top: 25px;
        flex: 1;
        padding-left: 0px;
      }
    }
  }
}

.fs22 {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  margin-bottom: 32px;
  line-height: 1.6;
  color: #000000;
}

.blogRelatedArticle {
  margin-top: 72px;
  padding: 5px !important;

  .knowEvCardContainer {
    border-width: 2px;
    border: 1px solid #e6e3e3;
    border-radius: 10px;
    height: 550px;
    .imgDiv {
      height: 246px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
    .knowEvCardContent {
      padding: 25px;
      .title {
        color: #539f01;
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
      }
      .desc {
        font-family: 'Nunito', sans-serif;
        color: #777777;
        font-size: 16px;
        font-weight: 400;
      }
    }
    .knowEvCardFooter {
      padding: 15px 30px;
      margin-bottom: 0;
      border-top: 1px solid #eaeaea;
      display: flex;
      justify-content: space-between;
      font-family: 'Nunito', sans-serif;
      position: absolute;
      bottom: 0;
      width: 100%;
      .cats {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        p {
          margin: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #539f01;
          cursor: pointer;
          span {
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #539f01;
            margin: 0 5px;
          }
        }
      }
    }
  }
}
