/* font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif; */
.CreatePost {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
    margin-right: 20px;
  }
}
.VideoAdmin {
  width: calc(100vw - 248px);
  table {
    // width: 100%;
    // overflow: hidden;
    // .title {
    //   width: 50%;
    // }
    // .date,
    // .edit {
    //   width: 40%;
    // }
    // .srNo {
    //   width: 5%;
    // }
  }
}
